<ion-button (click)="managePilot()" expand="block">Manage pilot</ion-button>
<ion-button expand="block">Manage paraglider</ion-button>
<ion-button expand="block">Manage paraglider model</ion-button>
<ion-button expand="block">Manage subscriptions</ion-button>
<ion-button expand="block">Manage stages</ion-button>
<ion-button expand="block">Manage sites</ion-button>