<ion-content>
    <form [formGroup]="form" (ngSubmit)="onSubmitAction()">
        <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input formControlName="Name" type="text" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Artist</ion-label>
            <ion-input formControlName="FirstName" type="text" required></ion-input>
        </ion-item>
        <ion-row>
            <ion-col>
                <ion-button type="submit" color="primary" shape="full" expand="block">Add</ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>


<ion-grid>
    <ion-row *ngFor="let row of rows">
        <ion-col *ngFor="let item of row">
            <ion-card>
                <ion-card-header>{{ item.name}}</ion-card-header>
                <ion-card-content>{{ item.firstName }}</ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-grid>