<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            <ion-button (click)="goToManage()" expand="full">Connect to manage</ion-button>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div id="container">
        <ion-card>
            <ion-item>
                <ion-icon name="airplane-outline" slot="start"></ion-icon>
                <ion-label>Our last flight!</ion-label>
                <ion-button (click)="goToFlights()" fill="outline" slot="end">See more!</ion-button>
            </ion-item>

            <ion-card-content>
                Check our latest flights!
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-item>
                <ion-icon name="people-outline" slot="start"></ion-icon>
                <ion-label>Pilots</ion-label>
                <ion-button (click)="goToPilots()" fill="outline" slot="end">See more!</ion-button>
            </ion-item>

            <ion-card-content>
                Meet our pilots, share their experience!
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-item>
                <ion-icon name="partly-sunny-outline" slot="start"></ion-icon>
                <ion-label>Paragliders</ion-label>
                <ion-button (click)="goToParagliders()" fill="outline" slot="end">See more!</ion-button>
            </ion-item>

            <ion-card-content>
                All our paragliders available!
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>